html, body {
  height: 100%;
}

body {
  margin: 0;
}

#bg-image {
  background-color: grey;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  color: white;
}